---
import { slugify } from '@utils/slugify'
import { getCollection } from 'astro:content'
import { components } from '@components/mdx'
import Base from '@layouts/base.astro'

export async function getStaticPaths() {
	const entries = await getCollection('writing')
	return entries.map((entry) => ({
		params: {
			writing: slugify(entry.data.title, entry.data.category),
		},
		props: {
			entry,
		},
	}))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Base>
	<h1>{entry.data.title}</h1>
	<Content components={components} />
</Base>
