---
import { getCollection } from 'astro:content'
import Box from '@components/primitives/box.astro'
import SkipNavContent from '@components/a11y/skip-nav-content.astro'
import Base from '@layouts/base.astro'
import Seo from '@components/seo.astro'
import { HOMEPAGE } from '@constants/json-ld'

const garden = await getCollection('garden')
const writing = await getCollection('writing')
---

<Base>
	<Seo slot="seo">
		<script set:html={JSON.stringify(HOMEPAGE)} />
	</Seo>
	<SkipNavContent>
		<h1>Astro</h1>
		<Box as="span" color="primary">hello world</Box>
		<div>
			<pre>
				<code>
					{JSON.stringify(garden, null, 2)}
				</code>
			</pre>
		</div>
		<div>
			<pre>
				<code>
					{JSON.stringify(writing, null, 2)}
				</code>
			</pre>
		</div>
	</SkipNavContent>
</Base>
